---
import DocLayout from '../layouts/DocLayout.astro';
---

<DocLayout title="Introduction">
	<p>Welcome to the Design System Documentation.</p>
	<p>Select a category from the navigation menu to get started.</p>
</DocLayout>
